$primary-color: #6a7ccc;
$accent-color: #35489b;
$background-color: #6a7ccc;
$text-color: #ffffff;
$title-color: #445bbf;
$font-weights: (
  "regular": 400,
  "medium": 500,
  "bold": 700,
);

body {
  background-color: $background-color;
  font-family: Roboto, sans-serif;
}

main {
  padding: 10px;
  margin-top: 10px;
}

#root {
  background-color: #ffffff;
  width: 70vw;
  min-height: 80vh;
  margin: 65px auto;
  padding: 25px 35px;
  border-radius: 5px;
}

.header {
  background-color: $accent-color;
  color: $text-color;
  padding: 5px 0px 5px 10px;
  border-radius: 5px;
  font-weight: map-get($font-weights, "medium");
}

.title {
  color: $title-color;
  margin: 5px 0px;
}

