$primary-color: #c7d8c6;
$accent-color: #9eb58e;
$background-color: #b0c4a9;
$text-color: #ffffff;
$font-weights: (
  "regular": 400,
  "medium": 500,
  "bold": 700,
);

body {
  background-color: $background-color;
  font-family: Roboto, sans-serif;
}

#root {
  background-color: #ffffff;
  width: 50vw;
  height: 90vh;
  margin: auto;
  padding: 35px;
}
