.aboutContent__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.aboutContent__container--bottom {
  width: 600px;
}

.about__img {
  max-width: 100%;
  height: auto;
  margin-top: 4.5rem;
  border-radius: 0.375rem;
}
