.contactContent__container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;
  column-gap: 37%;

}

.contactForm__container {
  display: flex;
  flex-direction: column;
}

.contactForm__input {
  border-radius: 5px;
}

