@import "../App";

.tenantContent__container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 20px;
}

.tenantResources {
  padding: 0;
}

.tenantResources__item {
  list-style: none;
  padding-bottom: 10px;
}

.maintenanceRequest__button {
  font-size: 1em;
  min-height: 3vh;
  min-width: 11vw;
  margin: 0px 0px 16px 0px;
  padding: 10px;
  color: $text-color;
  background-color: $button-color;
  border: none;
  border-radius: 5px;
  transition: all 0.3s ease;
  transition-property: filter, transform;
  font-weight: map-get($font-weights, medium);
  font-family: Roboto, sans-serif;

  &:hover {
    cursor: pointer;
    filter: brightness(87%)
  }

  &:active {
    transform: scale(0.98); 
  }
}

