@import "../App";

.tenantContent__container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 1.25rem;
}

.tenantResources {
  padding: 0;
}

.tenantResources__item {
  list-style: none;
  padding-bottom: 0.625rem;
}

.maintenanceRequest__button {
  font-size: 1rem;
  min-height: 3vh;
  min-width: 11vw;
  margin: 0px 0px 1rem 0px;
  padding: 0.75rem;
  color: $text-color;
  background-color: $button-color;
  border: none;
  border-radius: 0.375rem;
  transition: all 0.3s ease;
  transition-property: filter, transform;
  font-weight: map-get($font-weights, medium);
  font-family: Roboto, sans-serif;

  &:hover {
    cursor: pointer;
    filter: brightness(87%)
  }

  &:active {
    transform: scale(0.98); 
  }
}

